<mat-toolbar color="primary"> 
<style>
.dropbtn {
  background-color: #3f51b5;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.topright_a {
  position: absolute;
  top: 16px;
  right: 15px;
  font-size: 18px;
}
.topright {
  position: absolute;
  top: 8px;
  right: 90px;
  font-size: 18px;
}

.topright_b {
  position: absolute;
  top: 14px;
  right: 150px;
  font-size: 18px;
}



a {
  color: white;text-decoration: none;
}


.notification .badge {
  position: absolute;
  top: -9px;
  right: -20px;
  padding: 2px 6px;
  border-radius: 100%;
  background: red;
  color: white;
}



</style> 

<h1>  
  <a href="">
My books Store  
</a>
</h1>  
<button mat-button routerLink="/">Home</button>  
<button mat-button routerLink="/about">About</button>
<div class="dropdown">
  <button class="dropbtn">Books</button>
  <div class="dropdown-content">
    <a href="/litt">Literature</a>
    <a href="/bdh"> BD & Humour </a>
    <a href="/science">Sciences & technics </a>
    <a href="/loisir"> Leisure, Nature and Travel </a>
  </div>
</div>
<button mat-button routerLink="/contact">Contact us</button>
<div class="topright_a">
<button mat-button routerLink="/login">Login</button>
</div>

<div class="topright">
<a href="#" class="notification">
  <span><a href="/payement"> <i class="fa fa-cart-plus" style="font-size:48px"></i> </a></span>
  <span class="badge">1</span>
</a>
</div>

<div class="topright_b">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<input type="text" placeholder="Search.." name="search">
<button type="submit"><i class="fa fa-search"></i></button>

</div>


</mat-toolbar><router-outlet></router-outlet>